body {
background: #ddd;
display: flex;
font-family: 'Oswald', serif;
flex-direction: row;
align-items: center;
align-content: center;
text-transform: uppercase

}

#display {
color: white;
font-size: 8em;
width: 100%;
text-align: center;
display: block;
cursor: pointer;

}


#instruction {
 font-size: 0.35em;
 letter-spacing: 2.5;
}
